<?xml version="1.0"?>
<launch>
    <!-- roomba -->
    <arg name="roomba" default="roomba1"/>
    <arg name="image"  default="camera/color/image_rect_color"/>

    <!-- color -->
    <node pkg="image_transport" type="republish" name="$(arg roomba)_color_republish" args="compressed raw">
        <remap from="in"  to="$(arg roomba)/$(arg image)"/>
        <remap from="out" to="$(arg roomba)/$(arg image)"/>
    </node>
</launch>
